WorkflowDB/bin/Debug/DeploymentReport_1.txt
WorkflowDB/bin/Debug/DeploymentReport.txt
WorkflowDB/bin/Debug/WorkflowDB_1.publish.sql
WorkflowDB/bin/Debug/WorkflowDB.dacpac
WorkflowDB/bin/Debug/WorkflowDB.dll
WorkflowDB/bin/Debug/WorkflowDB.pdb
WorkflowDB/bin/Debug/WorkflowDB.publish.sql
WorkflowDB/obj/Debug/Model.xml
WorkflowDB/obj/Debug/WorkflowDB.dll
WorkflowDB/obj/Debug/WorkflowDB.pdb
WorkflowDB/obj/Debug/WorkflowDB.sqlproj.AssemblyReference.cache
WorkflowDB/obj/Debug/WorkflowDB.sqlproj.FileListAbsolute.txt
WorkflowService/bin/Debug/net6.0/appsettings.Development.json
WorkflowService/bin/Debug/net6.0/appsettings.json
WorkflowService/bin/Debug/net6.0/Azure.Core.dll
WorkflowService/bin/Debug/net6.0/Azure.Identity.dll
WorkflowService/bin/Debug/net6.0/Dapper.dll
WorkflowService/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.Negotiate.dll
WorkflowService/bin/Debug/net6.0/Microsoft.AspNetCore.Connections.Abstractions.dll
WorkflowService/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
WorkflowService/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
WorkflowService/bin/Debug/net6.0/Microsoft.Extensions.Features.dll
WorkflowService/bin/Debug/net6.0/Microsoft.Identity.Client.dll
WorkflowService/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
WorkflowService/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
WorkflowService/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
WorkflowService/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
WorkflowService/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
WorkflowService/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
WorkflowService/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
WorkflowService/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
WorkflowService/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
WorkflowService/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
WorkflowService/bin/Debug/net6.0/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/System.Drawing.Common.dll
WorkflowService/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
WorkflowService/bin/Debug/net6.0/System.IO.Pipelines.dll
WorkflowService/bin/Debug/net6.0/System.Memory.Data.dll
WorkflowService/bin/Debug/net6.0/System.Runtime.Caching.dll
WorkflowService/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
WorkflowService/bin/Debug/net6.0/System.Security.Permissions.dll
WorkflowService/bin/Debug/net6.0/System.Windows.Extensions.dll
WorkflowService/bin/Debug/net6.0/WorkflowService.deps.json
WorkflowService/bin/Debug/net6.0/WorkflowService.dll
WorkflowService/bin/Debug/net6.0/WorkflowService.exe
WorkflowService/bin/Debug/net6.0/WorkflowService.pdb
WorkflowService/bin/Debug/net6.0/WorkflowService.runtimeconfig.json
WorkflowService/bin/Debug/net6.0/runtimes/linux/lib/net6.0/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/runtimes/osx/lib/net6.0/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
WorkflowService/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WorkflowService/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WorkflowService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
WorkflowService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
WorkflowService/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WorkflowService/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
WorkflowService/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WorkflowService/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/obj/project.assets.json
WorkflowService/obj/project.nuget.cache
WorkflowService/obj/WorkflowService.csproj.nuget.dgspec.json
WorkflowService/obj/WorkflowService.csproj.nuget.g.props
WorkflowService/obj/WorkflowService.csproj.nuget.g.targets
WorkflowService/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WorkflowService/obj/Debug/net6.0/apphost.exe
WorkflowService/obj/Debug/net6.0/staticwebassets.build.json
WorkflowService/obj/Debug/net6.0/WorkflowService.AssemblyInfo.cs
WorkflowService/obj/Debug/net6.0/WorkflowService.AssemblyInfoInputs.cache
WorkflowService/obj/Debug/net6.0/WorkflowService.assets.cache
WorkflowService/obj/Debug/net6.0/WorkflowService.csproj.AssemblyReference.cache
WorkflowService/obj/Debug/net6.0/WorkflowService.csproj.BuildWithSkipAnalyzers
WorkflowService/obj/Debug/net6.0/WorkflowService.csproj.CopyComplete
WorkflowService/obj/Debug/net6.0/WorkflowService.csproj.CoreCompileInputs.cache
WorkflowService/obj/Debug/net6.0/WorkflowService.csproj.FileListAbsolute.txt
WorkflowService/obj/Debug/net6.0/WorkflowService.dll
WorkflowService/obj/Debug/net6.0/WorkflowService.GeneratedMSBuildEditorConfig.editorconfig
WorkflowService/obj/Debug/net6.0/WorkflowService.genruntimeconfig.cache
WorkflowService/obj/Debug/net6.0/WorkflowService.GlobalUsings.g.cs
WorkflowService/obj/Debug/net6.0/WorkflowService.MvcApplicationPartsAssemblyInfo.cache
WorkflowService/obj/Debug/net6.0/WorkflowService.pdb
WorkflowService/obj/Debug/net6.0/ref/WorkflowService.dll
WorkflowService/obj/Debug/net6.0/refint/WorkflowService.dll
WorkflowService/obj/Debug/net6.0/staticwebassets/msbuild.build.WorkflowService.props
WorkflowService/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.WorkflowService.props
WorkflowService/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.WorkflowService.props
WorkflowService/.vs/ProjectEvaluation/workflowservice.metadata.v5.2
WorkflowService/.vs/ProjectEvaluation/workflowservice.projects.v5.2
WorkflowService/.vs/WorkflowService/DesignTimeBuild/.dtbcache.v2
WorkflowService/.vs/WorkflowService/FileContentIndex/222a5da8-46f5-45c0-89c2-24e02088edc9.vsidx
WorkflowService/.vs/WorkflowService/FileContentIndex/786c961c-572a-4b8c-8760-b6ac88d9858b.vsidx
WorkflowService/.vs/WorkflowService/FileContentIndex/c12a5224-6c0b-402b-8edb-30d0d6f91053.vsidx
WorkflowService/.vs/WorkflowService/FileContentIndex/d07590a1-e318-4972-a130-4660d63050f0.vsidx
WorkflowService/.vs/WorkflowService/FileContentIndex/read.lock
WorkflowService/.vs/WorkflowService/config/applicationhost.config
WorkflowService/.vs/WorkflowService/v17/.futdcache.v2
WorkflowService/.vs/WorkflowService/v17/.suo
WorkflowDB/WorkflowDB/WorkflowDB.dbmdl
WorkflowDB/WorkflowDB.dbmdl
WorkflowDB/WorkflowDB/obj/Debug/WorkflowDB.sqlproj.AssemblyReference.cache
WorkflowDB/WorkflowDB.jfm
WorkflowDB/WorkflowDB/WorkflowDB.jfm
WorkflowDB/bin/Debug/DeploymentReport_2.txt
WorkflowDB/bin/Debug/DeploymentReport_3.txt
WorkflowDB/bin/Debug/DeploymentReport_4.txt
WorkflowDB/bin/Debug/DeploymentReport_5.txt
WorkflowDB/bin/Debug/DeploymentReport_6.txt
WorkflowDB/bin/Debug/DeploymentReport_7.txt
WorkflowDB/bin/Debug/WorkflowDB_2.publish.sql
WorkflowDB/bin/Debug/WorkflowDB_3.publish.sql
WorkflowDB/bin/Debug/WorkflowDB_4.publish.sql
WorkflowDB/bin/Debug/WorkflowDB_5.publish.sql
WorkflowDB/bin/Debug/WorkflowDB_6.publish.sql
WorkflowDB/bin/Debug/WorkflowDB_7.publish.sql
WorkflowDB/obj/Debug/postdeploy.sql
WorkflowDB/obj/Debug/refactor.xml
WorkflowService/.vs/WorkflowService/FileContentIndex/1643a363-c735-4898-9a21-4c56018ef218.vsidx
WorkflowService/.vs/WorkflowService/FileContentIndex/2967d83e-60a2-440f-b29b-53aa143759d5.vsidx
WorkflowService/.vs/WorkflowService/FileContentIndex/49911b2b-8dce-4c26-8c7f-b3d56f87ca2d.vsidx
WorkflowService/bin/Debug/net6.0/Microsoft.OpenApi.dll
WorkflowService/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
WorkflowService/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WorkflowService/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WorkflowService/obj/

.fake
WorkflowService/bin/Debug/net6.0/publish/appsettings.Development.json
WorkflowService/bin/Debug/net6.0/publish/appsettings.json
WorkflowService/bin/Debug/net6.0/publish/Azure.Core.dll
WorkflowService/bin/Debug/net6.0/publish/Azure.Identity.dll
WorkflowService/bin/Debug/net6.0/publish/Dapper.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.AspNetCore.Authentication.Negotiate.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.AspNetCore.Connections.Abstractions.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.Bcl.AsyncInterfaces.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.Data.SqlClient.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.Extensions.Features.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.Identity.Client.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.Identity.Client.Extensions.Msal.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.IdentityModel.Abstractions.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.IdentityModel.JsonWebTokens.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.IdentityModel.Logging.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.IdentityModel.Protocols.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.IdentityModel.Tokens.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.OpenApi.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.SqlServer.Server.dll
WorkflowService/bin/Debug/net6.0/publish/Microsoft.Win32.SystemEvents.dll
WorkflowService/bin/Debug/net6.0/publish/Swashbuckle.AspNetCore.Swagger.dll
WorkflowService/bin/Debug/net6.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
WorkflowService/bin/Debug/net6.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
WorkflowService/bin/Debug/net6.0/publish/System.Configuration.ConfigurationManager.dll
WorkflowService/bin/Debug/net6.0/publish/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/publish/System.Drawing.Common.dll
WorkflowService/bin/Debug/net6.0/publish/System.IdentityModel.Tokens.Jwt.dll
WorkflowService/bin/Debug/net6.0/publish/System.IO.Pipelines.dll
WorkflowService/bin/Debug/net6.0/publish/System.Memory.Data.dll
WorkflowService/bin/Debug/net6.0/publish/System.Runtime.Caching.dll
WorkflowService/bin/Debug/net6.0/publish/System.Security.Cryptography.ProtectedData.dll
WorkflowService/bin/Debug/net6.0/publish/System.Security.Permissions.dll
WorkflowService/bin/Debug/net6.0/publish/System.Windows.Extensions.dll
WorkflowService/bin/Debug/net6.0/publish/web.config
WorkflowService/bin/Debug/net6.0/publish/WorkflowService.deps.json
WorkflowService/bin/Debug/net6.0/publish/WorkflowService.dll
WorkflowService/bin/Debug/net6.0/publish/WorkflowService.exe
WorkflowService/bin/Debug/net6.0/publish/WorkflowService.pdb
WorkflowService/bin/Debug/net6.0/publish/WorkflowService.runtimeconfig.json
WorkflowService/bin/Debug/net6.0/publish/runtimes/linux/lib/net6.0/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/osx/lib/net6.0/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win/lib/net6.0/System.DirectoryServices.Protocols.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/bin/Debug/net6.0/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
WorkflowService/obj/Debug/net6.0/project.razor.json
