<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="btn btn-primary" title="Back to Home" routerLink="/home"><i
                class="fa fa-arrow-left"></i></button>&nbsp;&nbsp;&nbsp;
        <span class="navbar-brand">Activity Designer</span>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Static </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
                    </div>
                </li>

                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> Static right
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
                    </div>
                </li>

                <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Dynamic </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- {{ selectedWf.name }} -->
<button class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add Activity</button>
<div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
        <li ngbNavItem="top">
            <a ngbNavLink>Top</a>
            <ng-template ngbNavContent>
                <p>
                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                    stumptown aliqua,
                    retro synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
                    Reprehenderit butcher
                    retro
                    keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                    squid. Aliquip
                    placeat
                    salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                    voluptate nisi qui.
                </p>
            </ng-template>
        </li>
        <li ngbNavItem="middle">
            <a ngbNavLink>Middle</a>
            <ng-template ngbNavContent>
                <p>
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson
                    artisan four loko
                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer
                    mlkshk aliquip
                    jean shorts
                    ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                    delectus mollit.
                    Keytar
                    helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny
                    pack odio cillum
                    wes anderson
                    8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson
                    biodiesel. Art party
                    scenester
                    stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                </p>
            </ng-template>
        </li>
        <li ngbNavItem="bottom">
            <a ngbNavLink>Bottom</a>
            <ng-template ngbNavContent>
                <p>
                    Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh
                    elit id diam.
                    Nulla
                    facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis,
                    luctus eget
                    tincidunt eu,
                    congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et
                    molestie lectus
                    ultrices
                    et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla
                    tortor arcu.
                    Vivamus
                    faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu
                    tincidunt odio.
                    Orci
                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Mauris aliquet
                    odio ac lorem
                    aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                </p>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>